__pycache__
checkpoints
cifar10
data
experiments
tensorflow_datasets

wandb
nohup.out
cifar
lsun_church
celebahq
test/outputs
outputs
main.log

pretrained_models
cd_checkpoint
venv

tmp
.conda
celebahq